.product-container img {
    width: 200px;
    height: 180px;
}

.product-container {
    height: 342px;
    width: 205px;
    position: relative;
    border: 1px solid lightgray;
}

.product-container:hover {
    box-shadow: 6px 6px 2px 1px lightgray;
}

.product-details {
    text-align: center;
}

.price-item {
    font-weight: bolder;
    font-size: 1.2em;
    color: red;
    margin-bottom: 0;
}

.quantity-item {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 0.7em;
}

.icon {
    font-size: 1em;
}

.button-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    border: none;
    font-weight: bold;
    color: rgb(253, 135, 135);
}

.button-item:hover {
    border: 1px solid lightgray;
    color: red;
}