.home-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 80px;
    grid-gap: 40px;

}

.carousels {
    padding: 30px 200px 0 200px;
}

.order-products {
    background-color: orange;
    margin-top: 30px;
    padding: 20px 15px;
}