.header-container {
    background-color: orange;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
}

.logo-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 80px;
}

.navigate a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}