.header-container {
    background-color: orange;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
}

.logo-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-group>.form-control,
.input-group>.form-select {
    width: 500px !important;
}


.logo img {
    width: 80px;
}

.navigate a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.active {
    transition: color ease-in-out 300ms;
    color: #1b4388 !important;
}

.inactive {
    transition: color ease-in-out 300ms;
    color: #1e90c2 !important;
}